
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>endexam</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h1 style="text-align:center; font-family:'Arial Rounded MT';color:#742121">EXAM END! THANKYOU!</h1>
        <h3 style="text-align:center; font-family:'Arial Rounded MT'">Your score is @TempData["score"]</h3>
    </div>
</body>
</html>
