
@{
    ViewBag.Title = "iquestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
<style>
    body {
        background-image: url("../../Content/img/HiRes-1-e1472112882517-850x510.jpg");
        background-size: cover;
    }
</style>
    </head>
<body>
    <h2>Interview Questions</h2>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"><b>Describe who you are. or Tell me about your background.</b></a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body"> 
                    <p style="font-family:'Comic Sans MS'; font-style:oblique; font-size:20px">THERE CAN BE MANY POSSIBLE ANSWERS LIKE:</p>
                    <p style="font-size:20px">I have worked on an independent project work with 2 other students on Soft Skills. I have also participated in several paper presentations on Business Communication.</p>
                    <p style="font-size:20px">I was a good orator and always stood first in debate and elocution competitions during my school and college days.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2"><b>What are your strengths and weaknesses?</b></a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p style="font-size:20px">
                        I am impatient which is the reason why I am a quick learner. But I honestly believe that being impatient is a real weakness. I expect my team members to prove themselves and start delivering on the very first assignment. In case a particular resource fails, I have a tendency to stop delegating work to them and pick up projects on my own. I am working on this attitude and in my previous organizations, my peers helped me cope up with this to a great extent. To compensate for my own weakness, I prep my people about my exact expectations. Then I give them a complete scope of the assignment followed by various “checkpoint” dates, where they can update me about their progress, with a demo/presentation if applicable. In my previous job as a Project Manager, I was handling a 15-member team of both individual contributors and Business Managers like Lawyers, Web Designers, Graphic Designers, SEO/SEM Consultants, Editors, Writers and Callers. I used to break the entire task down into manageable chunks for each employee, followed by stringent timelines about when they would circle back to me. This process worked brilliantly, helped me stay 
                        within the assigned budget and helped everyone achieve their individual targets, as they learnt.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3"><b>What is your greatest fear?</b></a>
                </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p style="font-size:20px">
                        You might think that since I have never worked in my life, and this is only my first job, my inexperience is my weakness. But I beg to differ. I am a fast learner and very open minded. I assure that I do not carry
                        any pre-conceived notions regarding how I feel I should perform my job
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4"><b>What did you do in the last year to improve your knowledge?</b></a>
                </h3>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p style="font-size:20px">
                        I did three things to improve my knowledge. 1
                        . I got myself enrolled in Aptech for the Sun Certified Java Programmer course. I will appear my exam soon. 2. I have bought magazine subscriptions such as Dataquest. These magazines help me to stay well informed about new topics in the IT world.
                        3. I completed my final year application project based on Java.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse5"><b>What is your ideal company or workplace</b></a>
                </h3>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p style="font-size:20px">
                        My ideal workplace or company is a fair one that values my contributions even as a fresher and encourages me to speak up and share my ideas. 
                        It is a place where I can be myself, while working towards a greater goal.
                    </p>
                </div>

            </div>
        </div>
    </div>


</body>
</html>